img.logo2 {
     padding-top: 220px;
     padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 420px;
    width: 500px}

.signin-view {
    overflow: scroll;
}

.main-view {
    overflow: scroll;
}