.about-view {
    overflow: scroll;
    bottom: 120px;
    text-align: center;
    padding-top: 120px;
}

.about-view h1 {
    font-size: 120px;
    font-weight: 100;
    line-height: 130px;
    padding-bottom: 40px;
}

img.logo {
     padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 260px;
    width: 300px}

   img.logo2 {
     padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 260px;
    width: 300px}

