.about-view {
    overflow: scroll;
    bottom: 120px;
    text-align: center;
    padding-top: 160px;
}

.about-view h1 {
    font-size: 120px;
    font-weight: 100;
    line-height: 130px;
    padding-bottom: 40px;
}

img.logo {
     padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: 300px;
    width: 300px}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=checkbox]{
   margin-top: 10px;
    margin-left: 10px;
   width: 40px;
   height: 40px;
}



/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: verdana;
}
button.facebook {
    background-color:#3b5998;
    color: white;
    width: auto;
    padding: 10px 90px;
    font-family: verdana;
    margin-top: 38px;
    position:relative;
    left:20%;
}


/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the Sign Up button (orange) */
.signupbtn {
    width: auto;
    padding: 10px 90px;
    background-color: orange;
}

/* Extra style for the forget button (blue) */
.forget {
    width: auto;
    padding: 10px 18px;
    background-color:cornflowerblue;
    float: right;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 10%;
}

/* Add padding to containers */
.container {
    padding: 16px;
    margin-top: 30px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

h4 { 
    display: block;
    margin-left: 10px;
    font-family: verdana;
    font-size: 30px;
    color: mediumvioletred;
}
.signup-view {
    overflow: scroll;
}

#remember { 
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
    font-family: verdana;
    font-size: 30px;
    color: mediumvioletred;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

