.about-view {
    overflow: scroll;
    bottom: 120px;
    text-align: center;
    padding-top: 160px;
}

.about-view h1 {
    font-size: 120px;
    font-weight: 100;
    line-height: 130px;
    padding-bottom: 40px;
}

img.logo {
     padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 300px}

#text {

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

button.back {
    background-color: orange;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    font-family: verdana;
}


